@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@900&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;


@layer utilities {
  .navBarMargin {
    width: 1250px;
    max-width: calc(100vw - 40px);
    margin: auto;
  }

  .eventMargin, .footerMargin {
    width: 1280px;
    max-width: calc(100vw - 1280);
    margin-right: auto;
    margin-bottom: auto;
    margin-left: auto;
  }

  .icons {
    display: flex;
    -webkit-box-align: center;
    align-items: center;
    -webkit-box-pack: center;
    
    justify-content: center;
    background: linear-gradient(150deg, rgb(111, 98, 237) 15%, rgb(61, 167, 246) 90%);
    width: 50px;
    height: 50px;

    flex-shrink: 0;
  }
}
