@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@900&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;


@layer utilities {
  .navBarMargin {
    width: 1250px;
    max-width: calc(100vw - 40px);
    margin: auto;
  }

  .eventMargin, .footerMargin {
    width: 1280px;
    max-width: calc(100vw - 1280);
    margin-right: auto;
    margin-bottom: auto;
    margin-left: auto;
  }
}
